services:
  backend:
    image: nikhilkolli1812/filesharing-backend:latest
    ports:
      - "8080:8080"
    restart: always
    environment:
      - DB_URL=jdbc:mysql://filesharing-db.c52y6ukc0u34.us-east-1.rds.amazonaws.com:3306/file_storage_db
      - DB_USER=admin
      - DB_PASS=2300031584

  frontend:
    image: nikhilkolli1812/filesharing-frontend:latest
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend

# Remove local MySQL container since you are using RDS
# db:
#   image: mysql:8.0
#   restart: always
#   environment:
#     MYSQL_ROOT_PASSWORD: root
#     MYSQL_DATABASE: file_storage_db
#   volumes:
#     - db_data:/var/lib/mysql

# volumes:
#   db_data:
